	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/CSS/games/estresado//estilos.css">
		<title>Galaxy attack</title>
		<script type="text/javascript" src="/JS/games/estresado/funciones.js"></script>
	</head>
	<body>
		<h1>Galaxy attack</h1>
		<canvas id="miCanvas" width="600px" height="500px">
			Galaxy attack
		</canvas>
		<div class="botonesDiv">
			<button class="botonesMover" onclick="verifica(true,37)">&lt;-</button>
			<button class="botonDisparo" onclick="verifica(true,32)">Fire</button>
			<button class="botonesMover" onclick="verifica(true,39)">-&gt;</button>
		</div>
	</body>