 <meta charset="UTF-8"/>
    <title>Velocimetro</title>
    <link href="/CSS/games/muscular/test/style.css" rel="stylesheet"/>
    <script src="/JS/games/muscular/test/typing-test.js" defer></script>
<header class="bg_animate">
         <body onload="addWords()">
    <header>
      <h1>Velocimetro</h1>
    </header>
    <br><br>

    <section id="word-section">
      <div class="waiting">⌛</div>
    </section>

    <section id="type-section">
      <input id="typebox" name="typebox" type="text" tabindex="1" autofocus onkeyup="typingTest(event)"/>
      <div id="timer" class="type-btn"><span>1:00</span></div>
      <button id="restart" class="type-btn" tabindex="2" onclick="restartTest()">
        <span id="restart-symbol">↻</span>
      </button>
    </section>

    
<script type="text/javascript" src="//cloudfront.loggly.com/js/loggly.tracker-latest.min.js" async></script>
<script>
    var _LTracker = _LTracker || [];
    _LTracker.push({'logglyKey': '666a12a2-7744-44cc-b067-9fc6162ffa96',
    'sendConsoleErrors' : true,
    'tag' : 'loggly-jslogger'  });
</script>
  </div><div id="volver"><a href="/nivelesmuscular" id="vuevle"><input type="submit" value="Volver" class="btn solid" /></a></div>
            
  </body>

         

    <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
    </div>
</header>
