<link rel="stylesheet" href="/CSS/niveles.css">
<header class="bg_animate">
        <nav>
            <h1>Memoria Econica</h1>
            <div class="nav__list">
                <a href="/tipodememoria">
                    <i class='bx bx-left-arrow-alt'></i>
                    Volver
                </a>
            </div>
        </nav>

        <div class="subtitulo">
            <h2>Escoge un juego</h2>
            <p>
                <i class='bx bx-signal-1'></i>Fácil
                <i class='bx bx-signal-2' ></i>Medio
                <i class='bx bx-signal-3' ></i>Difícil
            </p>
        </div>

        <section>
            <div class="drop">
                <div class="drop__container" id="drop-items">
                    <div class="drop__card">
                        <div class="drop__data">
                            <i class='bx bx-palette drop__img'></i>
                            <div>
                                <h1 class="drop__name">Simon</h1>
                                <span class="drop__profession">Escoge un nivel</span>
                            </div>
                        </div>

                        <div>
                          <a href="/games/visual/Simon/simonbajo" class="drop__social"><i class='bx bx-signal-1'></i></a>
                          <a href="/games/visual/Simon/simonmedio" class="drop__social"><i class='bx bx-signal-2' ></i></a>
                          <a href="/games/visual/Simon/simondificil" class="drop__social"><i class='bx bx-signal-3' ></i></a>
                        </div>
                    </div>

                    <div class="drop__card">
                        <div class="drop__data">
                            <i class='bx bx-sort-z-a drop__img'></i>
                            <div>
                                <h1 class="drop__name">Palabras Invertidas</h1>
                                <span class="drop__profession">Escoge un nivel</span>
                            </div>
                        </div>

                        <div>
                            <a href="/games/visual/PalabrasInvertidas/inverbajo" class="drop__social"><i class='bx bx-signal-1'></i></a>
                            <a href="/games/visual/PalabrasInvertidas/invermedio" class="drop__social"><i class='bx bx-signal-2' ></i></a>
                            <a href="/games/visual/PalabrasInvertidas/inveralto" class="drop__social"><i class='bx bx-signal-3' ></i></a>
                        </div>
                    </div>

                    <div class="drop__card">
                        <div class="drop__data">
                            <i class='bx bx-border-all drop__img'></i>
                            <div>
                                <h1 class="drop__name">Sodoku</h1>
                                <span class="drop__profession">Escoge un nivel</span>
                            </div>
                        </div>

                        <div>
                            <a href="/games/visual/Sodoku/sodindex" class="drop__social"><i class='bx bx-signal-1'></i></a>
                            <a href="/games/visual/Sodoku/sodmedio" class="drop__social"><i class='bx bx-signal-2' ></i></a>
                            <a href="/games/visual/Sodoku/sodalto" class="drop__social"><i class='bx bx-signal-3' ></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dos">
                <img src="./img/pngwing.com.png" alt="cerebro" class="cerebro2">
            </div>
        </section>

        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>

    </header>
