/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: rgba(0, 0, 0, 0.514);
    --first-color-alt: rgb(102, 255, 171);
    --gradient: #affcef;
    --white: #ffff;
    --gray: #E8EBDF;
    --black: #303333;
    /*========== Font and typography ==========*/

    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }

  /* Responsive typography */
  @media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Coming Soon', cursive;
}

a{
    text-decoration: none;
    color: var(--first-color);
}

nav {
    height: var(--header-height);
    margin: 10px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: var(--h1-font-size);
    color: var(--first-color);
}

nav a:nth-child(1){
    margin-right: 15px;
}

nav i{
    display: none;
}
